body {
   font: 17px "Century Gothic", Futura, sans-serif; 
  margin: 50px;
}
ol,
ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: center;
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-info {
  margin-left: 20px;
}

h1 {font-size: 30px;
  
}

h2 {font-size: 15px;


}

